¡¢@charset "UTF-8";
*{margin:0px;padding:0px;}

/*min-width*/
.min1200{min-width:1200px;}

/*text-align*/
.t-align{text-align:center;}

/*vertical-align*/
.v-align{vertical-align:middle;}

/*list-style*/
ul,dl{list-style:none;}

/*text-decoration*/
.t-deco{text-decoration:line-through;}

/*border-collapse*/
table{border-collapse:collapse;}

/*a*/
a{text-decoration:none;color:#000;}

/*line-height*/
.line-h171{line-height:171px;}
.line-h50{line-height:50px;}
.line-h40{line-height:40px;}
.line-h30{line-height:30px;}
.line-h26{line-height:26px;}
.line-h25{line-height:25px;}
.line-h22{line-height:22px;}
.line-h20{line-height:20px;}
.line-h18{line-height:18px;}
.line-h14{line-height:14px;}
.line-h10{line-height:10px;}

/*float*/
.fl-l{float:left;}
.fl-r{float:right;}

/*font-weight*/
.f-wei-bold{font-weight:bold;}

/*display*/
.dis-block{display:block;}
.dis-inblock{display:inline-block;}
.dis-inline{display:inline;}
.dis-none{display:none;}

/*font-family*/
.f-family-Yahei{font-family:"Microsoft Yahei";}
.f-family-songti{font-family:"ËÎÌå";}

/*position*/
.pos-r{position:relative;}
.pos-a{position:absolute;}

/*font-size*/
.f-size10{font-size:10px;}
.f-size12{font-size:12px;}
.f-size13{font-size:13px;}
.f-size14{font-size:14px;}
.f-size16{font-size:16px;}
.f-size18{font-size:18px;}
.f-size20{font-size:20px;}
.f-size22{font-size:22px;}
.f-size24{font-size:24px;}
.f-size26{font-size:26px;}
.f-size28{font-size:28px;}


/*margin*/
.mar-a{margin:auto;}
.mar-t-5{margin-top:-5px;}
.mar-t5{margin-top:5px;}
.mar-t8{margin-top:8px;}
.mar-t10{margin-top:10px;}
.mar-t12{margin-top:12px;}
.mar-t15{margin-top:15px;}
.mar-t20{margin-top:20px;}
.mar-t30{margin-top:30px;}
.mar-t145{margin-top:145px;}

.mar-r5{margin-right:5px;}
.mar-r10{margin-right:10px;}
.mar-r15{margin-right:15px;}
.mar-r20{margin-right:20px;}
.mar-r30{margin-right:30px;}
.mar-r60{margin-right:60px;}

.mar-b5{margin-bottom:5px;}
.mar-b10{margin-bottom:10px;}
.mar-b15{margin-bottom:15px;}
.mar-b20{margin-bottom:20px;}

.mar-l5{margin-left:5px;}
.mar-l10{margin-left:10px;}
.mar-l15{margin-left:15px;}
.mar-l20{margin-left:20px;}
.mar-l30{margin-left:30px;}
.mar-l50{margin-left:50px;}
.mar-l70{margin-left:70px;}
.mar-l100{margin-left:100px;}
/*padding*/

.pad-t5{padding-top:5px;}
.pad-t10{padding-top:10px;}
.pad-t15{padding-top:15px;}
.pad-t20{padding-top:20px;}

.pad-r5{padding-right:5px;}
.pad-r10{padding-right:10px;}
.pad-r15{padding-right:15px;}
.pad-r20{padding-right:20px;}

.pad-b5{padding-bottom:5px;}
.pad-b10{padding-bottom:10px;}
.pad-b15{padding-bottom:15px;}
.pad-b20{padding-bottom:20px;}

.pad-l5{padding-left:5px;}
.pad-l8{padding-left:8px;}
.pad-l10{padding-left:10px;}
.pad-l15{padding-left:15px;}
.pad-l17{padding-left:17px;}
.pad-l20{padding-left:20px;}

/*border*/
.bor-1-r{border:1px solid red;}
.bor-1-c{border:1px solid #ccc;}
.bor-1-737070{border:1px solid #737070;}

.bor-b-f37038{border-bottom:1px solid #f37038;}
.bor-b-ccc{border-bottom:1px solid #ccc;}
.bor-t-c{border-bottom:1px solid #ccc;}

.bor-b-ab70e1{border-bottom:1px solid #ab70e1;}
.bor-t-fcaa2ec{border-top:1px solid #caa2ec;}

.bor-t-f8a267{border-top:1px solid #f8a267;}

.bor-r-0{border-right:1px solid #000;}
.bor-r-c{border-right:1px solid #ccc;}
.bor-r-e{border-right:1px solid #eee;}

.bor-b-e{border-bottom:1px solid #eee;}
/*height*/
.h30{height:30px;}
/*color*/
.c-426aff{color:#426aff;}
.c-fff{color:#fff;}
.c-ccc{color:#ccc;}
.c-666{color:#666;}
.c-red{color:red;}
.c-f10214{color:#f10214;}
.c-ff0000{color:#ff0000;}
.c-990000{color:#990000;}
.c-b7b6b7{color:#b7b6b7;}
.c-727071{color:#727071;}
.c-f70303{color:#f70303;}
.c-fc051c{color:#fc051c;}
.c-737070{color:#737070;}
.c-d002a7{color:#d002a7;}
.c-d60404{color:#d60404;}
.c-9f9e9e{color:#9f9e9e;}
.c-b5b5b5{color:#b5b5b5;}
.c-23a0d9{color:#23a0d9;}
.c-464646{color:#464646;}
.c-f7a831{color:#f7a831;}
.c-393939{color:#393939;}
.c-48494b{color:#48494b;}
.c-7a7a7c{color:#7a7a7c;}
.c-484646{color:#484646;}



/*background*/
.back-f10215{background:#f10215;}
.back-f4f4f4{background:#f4f4f4;}
.back-fff{background:#fff;}
.back-eee{background:#eee;}

/*z-index*/
.z-index9{z-index:9;}
.z-index99{z-index:99;}
.z-index999{z-index:999;}

/*left*/
.l-0{left:0px;}
.l--71{left:-71px;}
.l--142{left:-142px;}
